<<<<<<< HEAD:style.css
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
=======
html, body {
  font-family: 'Roboto', sans-serif;
}

>>>>>>> 67155ee5d31996238253622d12d2f5d70114d44a:css/style.css
h1 {
  background: orangered;
  text-align: center;
  color: white;
}

#formWrapper {
  background: grey;
  width: 50%;
}
section {
  color: white;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

