html {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
}

body {
  position: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
}

button {
  background-color: #F26631;
  border: none;
  border-radius: 2px;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 20px;
}

.header {
  display: grid;
  grid-template-columns: 20% 80%;
}

.logo {
  width: 100%;
}

h1 {
  background: #F26631;
  text-align: center;
  color: white;
  padding: 5px;
  margin: 0;
}

.content_container {
  margin: 0 auto;
  min-height: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
}

#formWrapper {
  background: grey;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 20px;
}

section   {
  color: white;
  width: 100%;
  padding-bottom: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  padding: 5px;
  border: 1px solid gray;
  margin-bottom: 10px;
}

#submit {
  width: 100%;
  background: black;
  color: white;
  font-weight: 800;
  border-radius: 5px;
  border: none;
  margin: auto;
}

#donorList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  /* background: black; */
  padding: 2em;
  overflow: scroll;

}
li {
  padding-bottom: 5px;
  list-style-type: none;
  /* border-bottom: 1px solid #F26631; */
  background: white;
  /* background: whitesmoke; */
}

li:first-child {
  border-bottom: 2px solid #F26631;
  margin-bottom: 10px;
  font-size: 18px;
}

li b {
  display: block;
  margin-bottom: 15px;
}

.list-container {
  overflow: scroll;
  height: 100vh;
}

#typeSelect, #donorType {
  outline: none;
  min-width: 150px;
  float: left;
}

#typeSelect {
  margin: 0 auto;
  width: 150px;
}

/* Jonny's Icons */
/* 
<i class="fas fa-hammer"></i>
<i class="fas fa-money-bill-wave"></i>
<i class="fas fa-tshirt"></i>
<i class="fas fa-utensils"></i> 
<i class="fas fa-question-circle"></i>
*/