*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
h1 {
  background: orangered;
  text-align: center;
  color: white;
}

#formWrapper {
  background: grey;
  width: 50%;
}
section {
  color: white;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

